

<!-- Footer -->
<footer class="text-center" style="background-color:#050c17">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-info btn-floating m-1" href="https://www.facebook.com/beautystore.tn/" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
       
  
        <!-- Google -->
        <a class="btn btn-outline-info btn-floating m-1" href="acceuil" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-info btn-floating m-1" href="https://www.facebook.com/beautystore.tn/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
 
  
  
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Inscrivez-vous </strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21" style="color:wheat">Email Adresse</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-secondary mb-4">
                S'abonner
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-8 mb-6 mb-md-0">
            <span style="font-size: 50px;"> 
              <i class="fa-solid fa-face-grin-stars fa-flip fa-2xl"></i>
            </span>
          <div style="margin-top: 8%;">
            <h5 class="text-uppercase" style="font-size: 36px;color:wheat;font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">LVC</h5>
  
           <p style="color:wheat">Chez LVC, nous sommes déterminés à vous accompagner tout au 
            long de votre parcours professionnel,
             Notre objectif ultime est de vous aider à lancer votre carrière et à réaliser vos ambitions.
            </p>
          </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-left:100px">
            <h5 class="text-uppercase" style="color:wheat;font-weight: bolder;">LIENS UTILES
            </h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="nav-link" aria-current="page" style="color:wheat" routerLink="/about">A propos</a>
          
              </li>
              <li>
                <a class="nav-link" aria-current="page" style="color:wheat" routerLink="/tousprod">Nos Conseils</a>
              </li>
              <li>
                <a class="nav-link" aria-current="page" style="color:wheat" routerLink="/marque">Vos feedbacks</a>
              </li>
              
<div class="x">
  <div style="text-align:center;padding:1em 0;">
<h2><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/fr/country/tn"><span style="color:gray;">
Heure actuelle</span><br />Tunisie</a></h2> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=fr&size=large&timezone=Africa%2FTunis" width="100%" height="140" frameborder="0" seamless></iframe> </div>

</div>

            
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin-left:170px;color:wheat;">
            <h5 class="text-uppercase" style="font-weight: bolder;">CONTACT</h5>
  
            <p><i class="fas fa-home me-3 text-secondary"></i> Tunisie</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              info@LVC.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 71 500 040</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 52 478 360</p>
          </div>
          <!--Grid column-->
  
          
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #B0C4DE					">
      © Copyright © 2023
      <a class="text-black" href="https://mdbootstrap.com/"> Lancez-Votre-Carriére Tunisia. Tous droits réservés</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
