<div class="body">
  <div class="header">
      <div style="margin-top: 3%;">
          <div class="d-flex justify-content-center m-4">
              <h1>Bienvenue ! <strong></strong></h1>
          </div>
      </div>
  </div>

  <div class="container">
      <button class="btn"><a  routerLink="/ajouteroffre">Postuler  une offre</a></button>
      <div class="links">
          <a routerLink="/trouverstagieres" class="link">
            <i class="fas fa-users"></i>
            Trouver un stagiaire
          </a>
          <a routerLink="/trouveremploye" class="link">
            <i class="fas fa-user-tie"></i>
            Trouver un employé
          </a>
      </div>
  </div>
  <div>
    <span>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
  </div>
</div>